#忽略test文件夹及文件夹下文件
test

#忽略以.exe结尾的文件
*.exe

#忽略*.a和*.b文件 

 *.[ab]

#忽略*.b和*.B文件，code.b除外

*.[bB]

!code.b


#忽略test文件和test目录

test

#忽略所有test目录
test/

#只忽略test文件，不忽略test目录

test

!test/

#只忽略当前目录下的test文件和目录，子目录的test不在忽略范围内

/test
